# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/
frontend/node_modules/
frontend/build/
frontend/dist/

# Java / Maven
backend/target/
*.class

# IDEs
.idea/
.vscode/
*.iml
.project
.classpath
.settings/

# Env files
.env
.env.*
